<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8080/accountNumbers" binding="wsHttpBinding" contract="AccountNumberClient.localhost.IAccountNumberService" name="BasicHttpBinding_IAccountNumberService" behaviorConfiguration="Default"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Default">
          <!--<consoleTracing />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="consoleTracing" type="Extensions.ConsoleTracingElement, Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
